body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Titillium Web', sans-serif;
    color: black;
    background-color: darkslategray;
}

.title {
    font-weight: 700;
    color: #272729; 
    text-decoration: none !important;

}

nav {
    background-color: darkslategray !important;
    filter: drop-shadow(0 2mm 8mm black);
}

.loggedin{
    font-weight: 600;
    color: white;
    position: relative;
    transform: translateY(15px);
    margin-left: 130px;


}

.logo {
    margin-right: 30px;
    position: relative;
    transform: translateY(12px);
}

.white {
    background-color: white;


}


.searchtext {
    color: white;
    margin-left: 8px;
    position: relative;
    transform: translateY(30px);
    font-weight: 600;


}



.search {
    color: #F5A300;
    border-radius: 10px 10px;
    position: relative;
    width: 250px;
    transform: translateY(30px);
   

}

.loginform{
    position: relative;
    transform: translateY(50px);

}



.hidden {
    display: none;
}

.logoutbtn{
    position: relative;
    transform: translateY(13px);
    margin-left: 10px;
    border-radius: 10px 10px;
    width: 80px;
    padding: 1px;
    color: #fff;
    background-color: #F5A300 !important;


}

.orangebtn {
    color: #fff;
    background-color: #F5A300 !important;
    border-color: #F5A300 ;
    border-radius: 15px 15px;
    
}


.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-weight: 600;
    text-transform: uppercase;

}

.navbar-inverse .navbar-nav>.active>a {
    color: #F5A300;
    background-color: transparent !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #F5A300;
    
    }

footer {
    margin: 50px 0;
}
